@media (min-width: 1001px) and (max-width: 1200px) {
  .container {
    width: auto;
    background-color: none;
  }
  .header .menu-background .logo {
    background-color: #EDAC3E;
    height: 10vh;
  }
  .header .menu-background .logo .tel {
    width: 4vw;
    height: 5vh;
  }
  .header-menu nav p {
    font-size: 20px;
  }
}
footer .container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1000px) {
  .container .slader {
    height: 25em;
  }
  .container .slader P {
    font-size: 64px;
  }
  .container {
    width: auto;
    background-color: none;
  }
  .container .logo {
    background-color: #EDAC3E;
    height: 10vh;
  }
  .container .logo .tel {
    width: 4vw;
    height: 5vh;
  }
  nav p {
    font-size: 24px;
  }
  main .slider-box .container .swiper-container .swiper-wrapper .swiper-slide .text {
    font-size: 64px;
  }
  main .container .net {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  main .container .net .sony img {
    max-height: none;
    width: 100%;
    margin-bottom: 15px;
  }
  main .container .net .special .middle {
    margin-bottom: 0;
  }
  footer .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 805px) {
  main .slider-box .container .swiper-container .swiper-wrapper .swiper-slide .text {
    font-size: 48px;
  }
  main .container .info p {
    font-size: 32px;
  }
  main .container .net .special .middle {
    margin-bottom: 15px;
    width: 100%;
  }
  main .container .net .special .middle .img-container img {
    height: 120%;
    width: 70%;
  }
  main .container .net .special .down {
    width: 100%;
  }
  main .container .net .special .down .img-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 15px;
  }
  main .container .net .special .down .img-container img {
    height: 63%;
    width: 63%;
  }
  main .description .container .words {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main .description .container .words .left {
    margin-right: 0;
  }
  main .description .container .words .right {
    padding-top: 20px;
  }
  footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  footer .container .advice {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .container .networks {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  footer .container .fidio {
    padding-top: 30px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 500px) {
  header .logo .search {
    width: 60% !important;
  }
  main .slider-box .container .swiper-container .swiper-wrapper .swiper-slide .text {
    font-size: 32px;
  }
  main .container .net .special .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container .net .special .top .img-container {
    padding-left: 10%;
    margin-bottom: -15%;
  }
  main .container .net .special .top .img-container img {
    width: 90%;
    height: 80%;
  }
  main .container .net .special .middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    width: 100%;
  }
  main .container .net .special .middle .img-container img {
    height: 110px;
    width: 120px;
  }
  main .container .net .special .down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container .net .special .down .img-container {
    padding-left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  main .container .net .special .down .img-container img {
    height: 80px;
    width: 80px;
  }
}