@media (min-width: 1001px) and (max-width: 1200px) {
  .container {
    width: auto;
    background-color: none;
  }
  .header .menu-background .logo {
    background-color: #EDAC3E;
    height: 10vh;
  }
  .header .menu-background .logo .tel {
    width: 4vw;
    height: 5vh;
  }
  .header-menu nav p {
    font-size: 20px;
  }
  footer .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 1000px) {
  .container {
    width: auto;
    background-color: none;
  }
  .container .logo {
    background-color: #EDAC3E;
    height: 10vh;
  }
  .container .logo .tel {
    width: 4vw;
    height: 5vh;
  }
  nav p {
    font-size: 24px;
  }
  main .stuff .first {
    height: auto;
  }
  footer .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 805px) {
  footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  footer .container .advice {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .container .networks {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  footer .container .fidio {
    padding-top: 30px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 500px) {
  .card-basis, main .container .fourth, main .container .third, main .container .second, main .container .first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-basis .img-container, main .container .fourth .img-container, main .container .third .img-container, main .container .second .img-container, main .container .first .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    margin: 0 auto;
  }
  .card-basis .img-container a img, main .container .fourth .img-container a img, main .container .third .img-container a img, main .container .second .img-container a img, main .container .first .img-container a img {
    margin-left: 0;
    margin: 0 auto;
    width: 150px;
  }
  .card-basis .card, main .container .fourth .card, main .container .third .card, main .container .second .card, main .container .first .card {
    padding-right: 0;
    width: 90%;
    padding-bottom: 10px;
  }
  .card-basis .card .name, main .container .fourth .card .name, main .container .third .card .name, main .container .second .card .name, main .container .first .card .name {
    margin-top: 0;
  }
  main .container .second .img-container a img {
    margin-left: 0;
    margin: 0 auto;
    width: 150px;
  }
  main .container .second .card {
    padding-right: 0;
    width: 90%;
    padding-bottom: 10px;
  }
  main .container .second .card .name {
    margin-top: 0;
  }
}