@font-face {
	font-family: "Calibri_Regular";
	src: url("../other/Calibri_Regular.ttf");
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: 'Calibri_Regular';
	background-color: #B3B1B1;

}

.container {
	margin: 0 auto;
	width: 80%;
}

header {
	.menu-background {
		background-color: #EDAC3E;
	}

	.logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 16vh;

		.cam {
			margin-left: 0;
		}

		img {
			width: 77px;
			height: 57px;
		}

		.loop {
			width: 30px;
			height: 30px;
			margin-right: 5%;
		}

		.search {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			background-color: rgba(224, 224, 224, 0.5);
			height: 6vh;
			width: 40vw;
			border-radius: 30px;
		}

		.number {
			text-indent: 2em;
			font-size: 3vh;

		}

		.tel {
			width: 5vw;
			height: 6vh;
		}
	}

	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 8.6vh;
		background-color: #D9D9D9;

		p {
			
			font-size: 3.6vh;
			text-indent: center;

		}
		.underline{
			text-decoration: none;
			color:black;

			
		}
		a:hover{
			transition: all 0.3s ease 0s;
			text-decoration: underline;
		}
		
	}

}


.slader {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-image: url(../images/image_2023-02-25_23-06-35\ 1.png);

	background-size: cover;
	width: 79.1vw;
	height: 65vh;

	p {
		color: white;
		font-size: 12vh;
		text-align: center;
		align-items: center;

	}
}

main {
	height: 100%;
	.container {

		background-color: #D9D9D9;

		.info {
			width: 90%;
			margin: 0 auto;
			align-items: center;
			padding-top: 26px;
			padding-bottom: 26px;

			p {
				font-size: 7.1vh;
				color: #EDAC3E;
				text-align: center;
				background-color: white;
				border-radius: 30px;
				border: 5px solid #EDAC3E;
			}
		}

		.net {
			display: grid;
			grid-template-columns: 60% 40%;
			grid-template-rows: 100%;
		height: 540px;
			
			.sony {
				border-radius: 30px;
				border: 5px solid #EDAC3E;
				width: 90%;
				height: 500px;
				margin-left: 3%;
			}

			.special {
				margin:0 auto;
				display: grid;
				grid-template-rows: 20px 1fr 1fr 1fr 20px;
				grid-row-gap: 2.33%;
				background-color: white;
				border: 5px solid #EDAC3E;
				border-radius: 30px;
				margin-right: 3%;
			
				height: 500px;

				.top {
					
					display: grid;
					grid-template-columns: 40% 60%;

					
					margin: auto;
					width: 90%;
					height: 100%;
					box-shadow: 0px 5px 5px grey;
					border-radius: 30px;

					img {
						margin: auto;
						margin-left: 14.4px;
						height: 80%;
						width: 90%;
						
					}

					.cost {
						justify-self: center;
						align-self: center;
						height: auto;
						p {
							
							white-space: nowrap;
							font-size: 24px;
							margin-top:5px;
							text-align: center;
						}
						.line{
							display: block;
							background-color: black;
							height: 3px;
							margin-top: 30px;
							
							width: 100%;
						
						}
						p{
							height: 4vh;
							.little{
								font-size: 2.5vh;
							}
						}
					}

				}
				//остальные сделаешь по примеру
				.middle
				{
					display: grid;
					grid-template-columns: 40% 60%;
					margin: auto;
					// margin-top: 22px;
					width: 90%;
					height: 100%;
					box-shadow: 0px 5px 5px grey;
					border-radius: 30px;

					img{
						width: 130px;
						height: 130px;
						border-radius: 30px;
						margin: auto;

					}
					.cost{
						text-align: center;
						margin: auto;
						p{
							white-space: nowrap;
							font-size: 24px	;
							text-align: center;
							margin-top: 5px;
						}
						.line{
							display: block;
							background-color: black;
							height: 3px;
							margin-top: 30px;
							margin-right: 2%;
		
							width: 100%;
						
						}
						p{
							height: 4vh;
							.little{
								font-size: 2.5vh;
							}
						}
					}
				}
				.down{
					display: grid;
					grid-template-columns: 40% 60%;
					margin: auto;
					
					width: 90%;
					height: 100%;
					box-shadow: 0px 5px 5px grey;
					border-radius: 30px;
					
					img{
						width: 150px;
						height: 150px;
						border-radius: 30px;
						margin: auto;

							
					}
					.cost{
						text-align: center;
						margin: auto;
						p{
							white-space: nowrap;
							font-size: 24px	;
							text-align: center;
							margin-top: 5px;
						}
						.line{
							display: block;
							background-color: black;
							height: 3px;
							margin-top: 30px;
							margin-right: 50%;
		
							width: 100%;
						
						}
						p{
							height: 4vh;
							.little{
								font-size: 2.5vh;
							}
						}
					}
				}
			}
		}

	}
}
.description{
	.container{
		background-color: #FFFFFF;
		p{
			padding-top:40px ;
			text-align: center;
			color: #EDAC3E;
			font-size: 4vh;
			
		}
		.words{
			display: grid;
			grid-template-columns: 57% 38%;
			
			
			p{
				width: 90%;
				margin: 0 auto;
				line-height: 4vh;
				color: black;
				font-size: 2.6vh;
				text-align: left;
				padding-bottom:40px ;
			}
		}

	}
}
footer{
	background-color: #FFFFFF;
	box-shadow: 0px 5px 5px grey;
	.container{
		display: flex;
		justify-content: space-between;
		background-color: #FFFFFF;
		align-items: center;
		.networks{
			.badge{
			
			
				img{
					width: 60px;
					height: 60px;
				}
				.size{
					width: 67px;
					height: 67px;
				}
			}
			
		}
		P{
			font-size: 2.6vh;
		}
		.advice{
			margin-left: -10%;
			text-align: center;
			button{
				margin-top: 10px;
				background-color: #EDAC3E;
				width: 100%;
				height: 50px;
				border-radius: 30px;
			}
		}
		
	}
}
underground{
	background-color: #B3B1B1;
	img{
		display: block;
		margin: 0 auto;
	width: 20%;
	height: 20%;
}
	p{
		text-align: center;
		color: #00000099;
	}
}