@media(min-width:1001px) and (max-width:1200px)
{
    .container
        {
            width: auto;
            background-color: none;
        }
        .header
        {
            
            .menu-background
            {
                .logo
                {
                background-color: #EDAC3E;
                height: 10vh;
        
                    .tel
                    {   
                        width: 4vw;
                        height: 5vh;
                    }
        
                }
            }
        }
         .header-menu
        {
             nav
            {
                p
                {     
                   font-size: 20px;  
                }
            }
        }
   
        footer
        {
            .container
            {
            justify-content: space-around;
            }
        }

    }


@media (max-width:1000px)
{
    .container
    {
        width: auto;
        background-color: none;
        .logo
        {
        background-color: #EDAC3E;
        height: 10vh;
       
            .tel
            {   
                width: 4vw;
                height: 5vh;
            }
       
        }
    }
    nav
    {
        p{
        font-size: 24px;  
        }
    }
    main{
        .ears{
            .first{
                height: auto;
            }
        }
    }
    footer
    {
        .container
        {
             justify-content: space-around;
        }
    }  
}

    @media (max-width:805px)
{
  
    footer{
        .container
        {
            flex-flow: row wrap;
        
            .advice{
                padding-top: 20px;
                order: 2;
            }
            .networks{
                 order: 1;
                 text-align: center;
            }
            .fidio{
                padding-top: 30px;
                 order: 3;
            }
        }
       
    }
}
@media (max-width:500px)
{
.card-basis{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin: 0 auto;
        a{
            img{
                margin-left: 0;
                margin: 0 auto;
                width: 150px;
                
            }
        }
    }
    .card{
        padding-right:0 ;
        width: 90%;
        .name{
            margin-top: 0;
        }
        padding-bottom: 10px;
    }
}

    main{
        .container{
            .first{
                
              @extend .card-basis;
            }
            .second{
                @extend .card-basis;
                .img-container{
                   
                    a{
                        img{
                            margin-left: 0;
                            margin: 0 auto;
                            width: 150px;
                            
                        }
                    }
                }
              
            
                .card{
                    padding-right:0 ;
                    width: 90%;
                    .name{
                        margin-top: 0;
                    }
                    padding-bottom: 10px;
                }
            }
            .third{
                @extend .card-basis;
            }
            .fourth{
                @extend .card-basis;
            }
        }   
    }

}

 
   
