@import 'variables.scss';

@font-face {
	font-family: "Calibri_Regular";
	src: url("../other/Calibri_Regular.ttf");
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: 'Calibri_Regular';
	background-color: #B3B1B1;

}
::-webkit-scrollbar{

	appearance: none;
	width: 5px;
}
::-webkit-scrollbar-thumb{
	background-color: #B3B1B1;
	
	
}
.container {
	margin: 0 auto;
	max-width: 1200px;
}


header {

	// position: static;
	// z-index: 10;
	.menu-background {
		background-color: #EDAC3E;
		width: 100%;
	}

	.logo {

		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		height: 16vh;

		.cam {
			margin-left: 0;
		}

		img {
			width: 77px;
			height: 57px;
		}



		.search {
			width: 40%;
			position: relative;
			display: flex;
			flex-direction: column;
			background-color: rgba(224, 224, 224, 0.5);
			border-radius: 20px;

			.loop {
				z-index: 7;
				position: absolute;
				right: 15px;
				top: 5px;
				width: 30px;
				height: 30px;

			}

			input {
				font-size: 20px;
				z-index: 6;
				background-color: #916e33;
				height: 40px;
				outline: none;
				
				border-radius: 15px;

				color: #FFFFFF;
				text-align: left;
				padding-left: 1vw;
			}

			input::placeholder {
				color: white;
				font-size: 20px;
			}
			// ::-webkit-scrollbar-track{
			// 	scrollbar-track-color: #916e33;
			// }
			.searchResult {

				//всё перелопатить
				
				overflow-y: scroll;
				min-height: 200%;
				max-height: 700%;
				padding-top: 10px;
				margin-top: -15px;
				position: absolute;
				top: 28px;
				font-size: 20px;
				background-color: #EDAC3E;
				box-shadow:0px 5px 1px rgba(0, 0, 0, 0.438) ;
			
				z-index: 2;
				display: block;

				.resultList {
					
					list-style-type: none;

					li {
						margin-right: 2%;
						margin-left: 1vw;

						a {

							color: black;
							font-size: 24px;
							text-decoration: none;
						}
					}

					span {
						display: block;
						width: 95%;
						height: 3px;
						background-color: black;
						margin-bottom: 10px;
					}
					p {
						font-size: 3px;
						margin-left: 1vw;
						padding-right: 1vw;
						padding-bottom: 1vh;
						color: white;
					}
				}
			}

			p {
				font-size: 3px;
				margin-left: 1vw;
				padding-right: 1vw;
				padding-bottom: 1vh;
				color: white;
			}
		}

		.number {

			font-size: 3vh;
			text-decoration: none;
			color: black;

		}

		.menu__icon {
			display: none;
		}

		.tel {
			width: 40px;
			height: 40px;

		}
	}

	.header-menu {
		background-color: $header-menu-back;
		padding: 15px;

		nav {
			.menu {
				&__body {
					width: 100%;

					.menu__list {
						display: flex;
						flex-flow: row wrap;
						justify-content: space-around;
						align-items: center;
						list-style: none;
						max-width: 100%;

						.burger-logo {
							display: none;
						}

						.menu__link {
							display: block;
							padding: 3px 10px;
							text-decoration: none;
							color: black;
							font-size: 24px;
							transition: all 0.5s ease 0s;

						}

						.menu__link:hover {
							background-color: #EDAC3E;
							border-radius: 30px;

						}
					}
				}
			}
		}

	}
}

.img-background {


	.text {
		white-space: nowrap;
		text-align: center;
		color: white;
		font-size: 100px;
	}
}

main {
	height: 100%;

	.slider-box {
		overflow-x: hidden;

		.container {
			overflow: hidden;

			.swiper-container {
				max-width: 100%;


				.swiper-wrapper {

					.swiper-slide {
						max-width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;

						.text {
							position: absolute;
							text-align: center;
							white-space: nowrap;
							color: white;
							font-size: 100px;

						}

						img {
							max-width: 100%;
						}

						.slide-container-img1 {
							display: flex;
							align-items: center;
							justify-content: center;
							// min-height: 100%;
							// min-width: 100%;



						}

						.slide-container-img2 {
							display: flex;
							align-items: center;
							justify-content: center;
							// min-height: 100%;
							// min-width: 100%;


						}

						.slide-container-img3 {
							display: flex;
							align-items: center;
							justify-content: center;
							// min-height: 100%;
							// min-width: 100%;


						}
					}
				}
			}
		}

	}

	.container {
		height: max-content;
		background-color: #D9D9D9;

		.info {

			width: 90%;
			margin: 0 auto;
			align-items: center;
			padding-top: 2%;


			p {
				font-size: 7vh;
				color: #EDAC3E;
				text-align: center;
				background-color: white;
				border-radius: 30px;
				border: 5px solid #EDAC3E;
			}
		}

		.net {
			display: flex;
			justify-content: center;
			flex-flow: row nowrap;
			padding: 3% 5% 3% 5%;

			.sony {

				flex: 1 1 60%;
				display: flex;

				img {
					border-radius: 30px;
					border: 5px solid #EDAC3E;
					// flex: 0 1 70%;
					width: 90%;
					max-height: 430px;


				}
			}

			//выстопивить у всех уоровней высоту в 100%
			.special {
				padding: 10px;
				flex: 0 1 30%;
				justify-content: space-around;
				margin: 0 auto;
				display: flex;
				flex-flow: row wrap;
				background-color: white;
				border: 5px solid #EDAC3E;
				border-radius: 30px;


				.line {
					background-color: black;
					width: 100%;
					height: 3px;

				}





				.top {

					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;
					align-items: center;
					padding: 15px;
					border-radius: 30px;
					box-shadow: 0px 5px 5px grey;
					margin-bottom: 15px;

					.img-container {
						flex: 0 1 30%;


						img {
							width: 110%;
							height: 110%;
							align-self: center;
						}
					}

					.cost {
						flex: 1 1 70%;
						display: flex;
						flex-flow: column nowrap;
						justify-content: center;
						align-items: center;

						p {
							text-align: center;
							font-size: 24px;

						}

						.line {
							width: 80%;
						}

						p {
							.little {
								font-size: 20px;
							}
						}
					}
				}

				.middle {
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;
					align-items: center;
					padding: 15px;
					margin-bottom: 15px;
					box-shadow: 0px 5px 5px 0px grey;
					border-radius: 30px;

					.img-container {
						flex: 1 1 40%;
						display: flex;
						justify-content: space-between;
						align-items: center;

						img {
							width: 120px;
							height: 100px;
						}

					}

					.cost {
						flex: 1 1 60%;
						display: flex;
						flex-flow: column nowrap;
						justify-content: center;
						align-items: center;

						p {
							text-align: center;
							font-size: 24px;
							white-space: nowrap;

						}

						p {
							.little {
								font-size: 20px;
							}
						}
					}
				}

				.down {
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;
					align-items: center;
					padding: 15px;
					box-shadow: 0px 5px 5px 0px grey;
					border-radius: 30px;

					.img-container {
						flex: 1 1 40%;
						display: flex;
						align-items: center;
						justify-content: center;

						img {
							// margin-left: 10px;
							width: 90px;
							height: 90px;
						}


					}

					.cost {
						flex: 1 1 60%;
						display: flex;
						flex-flow: column nowrap;
						justify-content: center;
						align-items: center;

						p {
							white-space: nowrap;
							text-align: center;
							font-size: 24px;

						}

						p {
							.little {
								font-size: 20px;
							}
						}
					}
				}
			}
		}

	}
}

.description {
	.container {
		background-color: #FFFFFF;

		p {
			padding-top: 40px;
			padding-bottom: 20px;
			text-align: center;
			color: #EDAC3E;
			font-size: 4vh;


		}

		.words {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			padding: 30px;

			.left {

				flex: 1 1 55%;
				font-size: 24px;
				margin-right: 15px;

			}

			.right {
				flex: 1 1 35%;
				font-size: 24px;

			}
		}

	}
}

footer {
	background-color: #FFFFFF;
	box-shadow: 0px 5px 5px grey;

	.container {
		display: flex;

		flex-wrap: wrap;
		justify-content: space-between;
		background-color: #FFFFFF;
		align-items: center;

		.networks {
			.badge {
				img {
					width: 60px;
					height: 60px;
				}

				.size {
					width: 67px;
					height: 67px;
				}
			}

		}

		P {
			font-size: 2.6vh;
		}

		.advice {

			text-align: center;

			button {
				margin-top: 10px;
				background-color: #EDAC3E;
				width: 100%;
				height: 50px;
				border-radius: 30px;
				font-size: 24px;
			}
		}

	}

	.underground {
		background-color: #B3B1B1;

		.container {
			background-color: #B3B1B1;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column nowrap;

			img {


				width: 40%;
				height: 10%;
			}

			p {
				text-align: center;
				color: #00000099;
			}
		}
	}
}